<div style="display: flex;justify-content: center;align-items: center;flex-wrap: wrap;gap: 20px">
	@for (hero of superheroes; track hero.id) {
		<a routerLink="/superhero/{{hero.id}}" class="link-image">
			<mat-card>
				<mat-card-header>{{ hero.name }}</mat-card-header>
				<div  [ngStyle]="{'background-image': 'url(' + hero.url + ')'}" class="card-image"></div>
				<mat-card-content>{{ hero. powers }}</mat-card-content>
			</mat-card>
		</a>

	} @empty {
		<mat-card>There are no items.</mat-card>
	}
</div>


