<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #sidenav mode="side" >
		<mat-nav-list>
			<li (click)="toggleSidenav()"><a mat-list-item routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
			<li (click)="toggleSidenav()"><a mat-list-item routerLink="/superhero" routerLinkActive="active" ariaCurrentWhenActive="page">Create</a></li>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button mat-icon-button (click)="toggleSidenav()">
				<mat-icon style="color: #ffabf3">menu</mat-icon>
			</button>
			<span style="color: #ffabf3">SUPER HEROES</span>
		</mat-toolbar>
		<div class="main-content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
